.nav {
  background: #1e2022;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.title {
  font-family: "Syne";
}

.title-link {
  text-decoration: none;
  color: #c9d6df;
}
.title-link:hover {
  color: #f0f5f9;
}

.title-first-text {
  font-size: 40px;
}

.title-second-text {
  font-size: 32px;
}

#Offcanvas {
  background-color: #1e2022;
  color: #c9d6df;
  padding: 10px;
  font-family: Syne;
}

ul {
  position: relative;
  display: block;
  padding: 0;
  padding-top: 3px;
  padding-bottom: 6px;
  margin: 0;
}

#menu-list {
  font-size: x-large;
  display: block;
}

#menu-list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #c9d6df;
  transform: scaleX(0);
  transform-origin: top left;

  transition: transform 0.3s;
}

#menu-list::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #c9d6df;
  transform: scaleX(0);
  transform-origin: bottom right;

  transition: transform 0.3s;
}

#menu-list:hover::before {
  transform: scaleX(1);
}

#menu-list:hover::after {
  transform: scaleX(1);
}
