/*
COLOR SCHEME
  off-white:  F0F5F9
  light-blue: C9D6DF
  dark-blue:  52616B
  black:      1E2022
*/

body {
  font-family: syne;
}

h3 {
  font-size: 5em;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

#section1 {
  color: #fff;
}
.section{
  height: 100vh;
  
}

.fp-section {
  text-align: center;
} 